{{template "header"}}
			<div id="downloads">
				{{ range .Downloads }}
					<ul><a class="communist-reference" href="/_downloads/{{ .Filename }}">{{ .Filename }}</a>&nbsp;<a class="communist-button" href="/delete/{{ .Filename }}">Delete</a></ul>
				{{ end }}
			</div>
			<div style="text-align: center; margin-top: 5px;"><a class="communist-reference" href="/">Back to upload-form</a></div>
{{template "footer"}}