{{define "footer"}}
		</div>

		<div class="animate-wrapper">
			<div class="starburst">
			  <div class="outer">
			    <div class="ray"></div>
			    <div class="ray"></div>
			    <div class="ray"></div>
			    <div class="ray"></div>
			    <div class="ray"></div>
			    <div class="ray"></div>
			    <div class="ray"></div>
			    <div class="ray"></div>
			    <div class="ray"></div>
			    <div class="ray"></div>
			  </div>
			</div>
		</div>
	</div>
</html>
{{ end }}