{{define "header"}}
<!doctype html>
<html lang="en">
	<meta charset="utf-8">
	<meta name="description" content="simple file uploader for lan parties">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/assets/local.css">
	
	<div id="gradient-container">
		<div id="content">
			<h1>FЦР</h1>
{{end}}